.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .icon-container {
    padding: 0 8px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    fill: #606060;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    background: transparent;
    caret-color: #f1f1f1;
    color: #f1f1f1;
}
  
.search-button {
    background: #222222;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
  }

  .search-button:hover {
    background: #333333;
  }

  .clear-button {
    background: transparent;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  
  .clear-button:hover {
    background: #f1f1f143;
  }

  .clear-icon,
  .icon {
    width: 24px;
    height: 24px;
    fill: #606060;
  }
  